

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #111111;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #111111; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #33ffffa8; 
    border-radius: 6px; 
  }
  